extends base
	
block body

	div#content
		div#uiWrap
			div#header.small
				div#topbar
				div#title
					h1 <a href="/">TEXTOPOLY</a>
					div#blink

			div#main				
				h1 Fiche utilisateur de : #{author}
					if su
						h3 
							a(href="mailto"+email) #{email}
					hr
					h2 Liste des textes
					hr
					div#messages(style="overflow-x:hidden;height:200px;")
						table
							each t in txts
								tr
									td
										p.p 
											a(href='/view?zoom=2&xcenter='+t.p[0]+'&ycenter='+t.p[1]) #{t.p}
									td
										p #{t.d.toDateString()} 
									td
										p.t #{t.t}
					hr
					h2 Liste des chemins
					hr
					div#paths(style="overflow:auto;height:200px")
						table
							each p in paths
								tr
									td
										p.p
											a(href='/book/'+p._id) #{p.sp}
									td
										p #{p.d.toDateString()} 	
									td 
										p #{p.pw.length}
									td
										p.t #{p.title}
									td
										p
											input(type="button",value="Supprimer",onclick="del_book('"+p._id+"')")

			div#footer
				if su
					h3 <a href="/admin">Liste d'auteurs</a>



	

	script(type="text/javascript")
		function del_book(id){
			if(confirm("Suppression irrémédiable d'un chemin")){
				document.location="/admin/delbook/"+id;
			}else{
			}
		}
	

