extends base
	
block body

	div#content
		div#uiWrap
			div#header.small
				div#topbar
				div#title
					h1 <a href="/">TEXTOPOLY</a>
					div#blink

			div#main				
				h1 Fiche utilisateur de : #{author}
					if su
						h3 
							a(href="mailto"+email) #{email}

					h3
						a(href=url) #{url}		
					hr
					h2 Liste des textes
					hr
					div#messages(style="overflow:auto;height:200px")
						table
							each t in txts
								tr
									td.coord
										p.p 
											a(href='/view?zoom=2&xcenter='+t.p[0]+'&ycenter='+t.p[1]) #{t.p}
									td.date
										p #{t.d.toDateString()} 
									td.text
										p.t #{t.t}
									if su
										td.button
											p
												input(type="button",value="Supprimer",onclick="")

					hr
					h2 Liste des chemins
					hr
					div#paths(style="overflow:auto;height:200px")
						table
							each p in paths
								tr
									td.coord
										p.p
											a(href='/book/'+p._id) #{p.sp}
									td.date
										p #{p.d.toDateString()} 	

									td.text
										p.t #{p.title}
									td.length
										p #{p.pw.length}

									if su									
										td.button
											p
												input(type="button",value="Supprimer",onclick="del_book('"+p._id+"')")

			div#footer
				h3 <a href="javascript:history.go(-1)">Retour</a>
					if su
						<a href="/admin"> • Super Admin !</a>



	

	script(type="text/javascript")
		function del_book(id){
			if(confirm("Suppression irrémédiable d'un chemin")){
				document.location="/admin/delbook/"+id;
			}else{
			}
		}
	

