script(type='text/javascript',src='javascripts/raphael-min.js')
script(data-main='javascripts/main',src='javascripts/require-jquery.js')
script(type='text/javascript')
  var params=!{JSON.stringify(params)};

div#content
  div#uiWrap
    div#header
      div#topbar
      div#title
        h1 TEXTOPOLY
        div#blink
      
      div#topmenu
        div#btnHelp.normal
        div#btnFocus.normal    
        
      div#leftA
        <
      div#slider
        h2 TEXTOPOLY est en <strong>version alpha</strong>
        p à partir du 5 avril 2012 pour en savoir plus <a href="http://blog.textopoly.org" target="_blank">cliquez ici</a>
      div#rightA
        >


      div#mainMenu
        div#btnText.normal 
          div#hlpText
            p Écrire un texte
        div#btnPath.normal
           div#hlpPath  
             p Faire un chemin 
        div#btnShow.normal
          div#hlpShow
            p Explorer les chemins
        div#btnFind.normal
          div#hlpFind
            p Rechercher sur la carte
        
        
    div#zoomWrap
      div#zoom
        div#zoomSlider
    div#footer
        span#path_start nouveau chemin
        span#path_end fin
        span#path_play Jouer
        div#options
          div#colorPicker
          input#current_author(type="text", name="a")

  div.grid#map(class='z'+params.zoom)
    each txt in texts
      div.msg(dc=txt.p,style='left:#{txt.absx}px;top:#{txt.absy}px;',class=txt.s+' '+txt.lclass+' '+txt.c)
        if( params.zoom < 20)
          if txt.i
            img(src='/getimg/['+txt.p+']')
          else
            if txt.t
              p #{txt.t}
            else
              p.author #{txt.a}
        if( params.zoom == 2)
          div.ctx x
    div#writingBox(style='display:none')
      div#writingArea.msg.s.l4
        textarea(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='off')
        div#nw.handle
        div#n.handle
        div#ne.handle
        div#e.handle
        div#se.handle
        div#s.handle
        div#sw.handle
        div#w.handle