div#content
  div#uiWrap
    div#header
      div#topbar
      div#title
        h1 TEXTOPOLY
        div#blink
      
      div#topmenu
        div#btnHelp.normal
        div#btnFocus.normal    
        
      div#leftA
        <
      div#slider
        h2 TEXTOPOLY est en <strong>version alpha</strong>
        p à partir du 5 avril 2012 pour en savoir plus <a href="http://blog.textopoly.org" target="_blank">cliquez ici</a>
      div#rightA
        >


      div#mainMenu
        div#btnText.normal 
          div#hlpText
            p Écrire un texte
        div#btnPath.normal
           div#hlpPath  
             p Faire un chemin 
        div#btnShow.normal
          div#hlpShow
            p Explorer les chemins
        div#btnFind.normal
          div#hlpFind
            p Rechercher sur la carte
        
        
    div#zoomWrap
      div#zoom
        div#zoomSlider
    div#footer
        span#path_start nouveau chemin
        span#path_end fin
        span#path_play Jouer
       
  div.grid#map(class='z'+params.zoom)
    each txt in texts
      div.msg(dc=txt.p,style='left:#{txt.absx}px;top:#{txt.absy}px;',class=txt.s+' '+txt.lclass+' '+txt.c)
        if( params.zoom < 20)
          if txt.i
            img(src='/getimg/['+txt.p+']')
          else
            if txt.t
              p #{txt.t}
            else
              p.author #{txt.a}
        if( params.zoom == 2)
          div.ctx x
    div#writingBox(style='display:none')

      div.editArea.s.l4
        div.nw.handle.ca
        div.e.handle.ar
        div.se.handle.ok
        div.s.handle.ad
        div.sw.handle.me
        
        textarea(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
        
        div.imageArea(style='display:none')
                    
        div.authorArea(style='display:none')
          h3 Choisir un nom et une couleur
          div#colorPicker
          input#current_author(type="text", name="a")

    div#informationBox(style='display:none')

      div.infoArea.s
        div.nw.handle.ca
        div.e.handle.pa
        div.se.handle.in
        
        div.msgInfo(style='display:none')    
          h3 Informations sur le billet
          p écrit par Bob le 16 mai 2012 à 17 h 04