div#content
  div#uiWrap
    div#header
      div#topbar
      div#title
        h1 TEXTOPOLY
        div#blink
      
      div#topmenu
        div#btnHelp.normal
        div#btnFocus.normal    
        
      div#leftA
        <
      div#slider
        h2 TEXTOPOLY est en <strong>version beta</strong>
        p à partir du 21 mai 2012 pour en savoir plus <a href="http://blog.textopoly.org" target="_blank">cliquez ici</a>
      div#right
        >


      div#mainMenu
        div#btnText.normal 
          div#hlpText
            p Écrire un texte
        div#btnPath.normal
           div#hlpPath  
             p Faire un chemin 
        div#btnShow.normal
          div#hlpShow
            p Explorer les chemins
        div#btnFind.normal
          div#hlpFind
            p Rechercher sur la carte
        
        
    div#zoomWrap
      div#zoom
        div#zoomSlider
                
    div#footer

  div.grid#map(class='z'+params.zoom)
    each txt in texts
      div.msg(dc=txt.p,style='left:#{txt.absx}px;top:#{txt.absy}px;',class=txt.s+' '+txt.lclass+' '+txt.c)
        if( params.zoom < 20)
          if txt.i
            img(src='/getimg/['+txt.p+']')
          else
            if txt.t
              p #{txt.t}
            else
              p.author #{txt.a}
    
    div#removebox(style='display:none')
      small
        span(stle='color:red') Attention
        br
        span Cette opération est irréversible.
    
    div#writingBox(style='display:none')

      div.editArea.s.l4
        div.nw.handle.ca
        div.e.handle.ar
        div.se.handle.ok
        div.s.handle.ad
        div.sw.handle.me
        
        textarea(name='t',rows='9', maxlength='600', cols='70', spellcheck='false',  wrap='soft')
        
        div.imageArea(style='display:none')
                    
        div.authorArea(style='display:none')
          h2 Choisir un nom et une couleur
          input#current_author(type="text", name="a")
          div#colorPicker


    div#informationBox(style='display:none')

      div.infoArea.s
        div.nw.handle.ca
        div.e.handle.pa
        div.se.handle.in
        
        div.msgInfo(style='display:none')    
          h2 Informations sur le billet
          h3#infoname John Do
          h3#infodate le 16 mai 2012 à 17 h 04
          h3 <a href="#permalink" target="_blank">Permalien </a>
