h3
  #{title}
each txt in pathwalk.pw
  if txt.i
    img(src='/getimg/['+txt.p+']')
  else
    p(class=txt.s+' '+txt.c+' '+txt.lc) #{txt.t}
  p.sig #{txt.a} le #{txt.d.toDateString()}
  hr
footer
  a(href="/mpath/"+a) #{a} | 
  a(href="/mauth") Auteurs

