extend layout
block body
	div#content
		div#uiWrap
			div#header.small
				div#topbar
				div#title
					h1 <a href="/">TEXTOPOLY</a>
					div#blink
				div#topmenu
					div#btnLog.log
					div#btnHelp.hlp
    
			div#bookView
				h2 chemin de #{a}
				each txt in pathwalk.pw
					if txt.i
						img(src='/getimg/['+txt.p+']')
					else if txt.t
							p(class=txt.s+' '+txt.c+' '+txt.lc) #{txt.t}
						else if txt.e
								p(style="background-color:grey") &nbsp;       
						br
				p
					input(style="float:left",type="button",value="Supprimer",onclick="del_book('"+id+"')")
			div#footer
				h3 Profil de : 
					a(href="/admin/user/"+a) #{a}
	script(type="text/javascript")
		function del_book(id){
			if(confirm("Suppression irrémédiable d'un chemin")){
				document.location="/admin/delbook/"+id;
			}else{
			}
		}
