extends mobile
block head
	title=title
	meta(name="viewport",content="initial-scale=0.5, maximum-scale=2,minimum-scale=0.5,width="+ width +",height="+ height+"")
block body
	div#content
		div.grid#map(class='z'+params.zoom,style='top:-'+height/2+'px;left:-'+width/2+'px')
			each txt in texts
				div.msg(dc=txt.p,style='left:#{txt.absx}px;top:#{txt.absy}px;',class=txt.s+' '+txt.lclass+' '+txt.c,onclick="document.location='/m/t/"+txt.p[0]+"/"+txt.p[1]+"'")
					if txt.i
						img(src='/getimg/s['+txt.p+']')
					if txt.t
						p #{txt.t}
		div(style="background-color:grey;position:fixed;top:0;left:0;width:5%;height:100%;z-index:100;",onclick="document.location='/m/v/"+leftC+"/"+params.ycenter+"'")
		div(style="background-color:grey;position:fixed;top:0;right:0;width:5%;height:100%;z-index:100;",onclick="document.location='/m/v/"+rightC+"/"+params.ycenter+"'")
		div(style="background-color:grey;position:fixed;top:0;left:0;height:5%;width:100%;z-index:100;",onclick="document.location='/m/v/"+params.xcenter+"/"+topC+"'")
		div(style="background-color:grey;position:fixed;bottom:0;left:0;height:5%;width:100%;z-index:100;",onclick="document.location='/m/v/"+params.xcenter+"/"+bottomC+"'")
		img(src='/m/i/w.png',style="position:fixed;top:2em;left:2em;z-index:200;width:8em;height:8em;",onclick="document.location='/m/w/"+params.xcenter+"/"+params.ycenter+"'")			