extend mobile
block head
	title='textopoly de '+ a
	meta(name="viewport",content="initial-scale=1,width=device-width")
block body
	h2 #{a}
	h3 Textes
	each t in txts
		div 
			a(href="/m/t/"+t.p[0]+"/"+t.p[1]) #{t.p}
	h3 Chemins
	each p in paths
		div
			a(href="/mbook/"+p._id) #{p._id}
	